{% macro path_params(path) %}
{% for param in path %}
{{ param.name }}:{{ param.type }},
{% endfor %}
{% endmacro %}

{% macro query_params(query) %}
{% for param in query %}
{{ param.name }}:{{ param.type }},
{% endfor %}
{% endmacro %}

{% macro body_params(model) %}
{% for prop in model.properties %}
{{ prop.get_param_defination() }},
{% endfor %}
{% endmacro %}

{% macro endpoint_params(endpoint, model) %}
{{ path_params(endpoint.path) }}
{{ query_params(endpoint.query) }}
{%- if endpoint.request_body %}
**kwargs
{%- endif %}
{% endmacro %}

{% macro endpoint_model_params(endpoint, model) %}
{{ path_params(endpoint) }}
{{ query_params(endpoint) }}
*,
data: Unset = UNSET,
{{ body_params(model) }}
{% endmacro %}